# Basic Website
Flask 
requests
flask_sqlalchemy
flask_SocketIO
eventlet==0.35.2
websocket-client==1.7.0
flask_socketio
cryptography
vosk
#pip install -r requirements.txt
flask_socketio
jinja2

# Sofer AI
Soferai
dotenv
