{% extends "layout.html" %}

{% block content %}
<form method="post" action="EN">
    <input type="hidden" id="speed" name="speed" value="{{ speed }}">
    <input type="hidden" id="prayerType" name="prayerType" value="{{ type }}">
    <input type="hidden" id="language" name="language" value="{{ lang }}">
    <input type="hidden" id="prayer" name="prayer" value="{{ prayer }}">
    <input type="hidden" id="index" name="index" value="{{ index }}">
    <input type="submit" value="Switch to English">
</form>

<p>
    {% for i in range(text|length) %}
            {% if i == index %}
            <mark>{{ text[i] }}</mark>
        {% else %}
            {{ text[i] }}
        {% endif %}
    {% endfor %}
</p>
{% endblock %}