{% extends "layout.html" %}

{% block content %}
  {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div class="alert alert-warning">
              {% for message in messages %}
                  {{ message }}
              {% endfor %}
          </div>
      {% endif %}
  {% endwith %}
  {% if session.username %}
    <h1>Welcome, {{ session.username }}!</h1>
  {% else %}
    <h1>Welcome to Kol Text</h1>
  {% endif %}

  <a href="/signup">Signup</a>
  <a href="/login">Login</a>

  <br>

  <a href="/wbw"><button>Word-by-Word Prayer</button></a>

  <br>

  <a href="/highlight"><button>Follow Along with the Chazzan</button></a>

  <br>

  <a href="/transcribe"><button>Transcribe Shiur</button></a>

  <br>

  <a href="/siddur"><button>Open Siddur</button></a>

  <br>

  <a href="/logout">Logout</a>
  <a href="/delete">Delete Account</a>
{% endblock %}