{% extends "layout.html" %}

{% block content %}
{% if session.username %}
  <h1>Welcome, {{ session.username }}!</h1>
{% else %}
  <h1>Welcome to App</h1>
{% endif %}
<a href="/signup">Signup</a>
<a href="/login">Login</a>
<form method="post" action="/wbw">
    <input type="submit" value="Word by Word Prayer">
</form>
<form method="post" action="/highlight">
    <button type="submit">Follow Along with the Chazzan</button>
</form>
<form method="post" action="/transcribe">
    <button type="submit">Transcribe Shiur</button>
</form>
{% endblock %}