{% extends "layout.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <h1>Sign Up</h1>
    <form action="/signup" method="POST">
      <label for="username">Username:</label>
      <br>
      <input type="text" name="username">
      <br>
      <label for="password">Password:</label>
      <br>
      <input type="password" name="password">
      <br>
      <input type="submit">
    </form>
    <a href="/login"><button>Already have an account? Login here.</button></a>
    <br>
    <a href="/"><button>Home</button></a>
{% endblock %}